body{
    margin: 0;
    padding: 20px;

}
main{
    margin: auto;
    width: fit-content;
}
h1{
    text-align: center;
}
#color-palette{
    background-color: black;
    padding: 2px;
    margin-bottom: 20px;
    display: flex;
    
}
input{
    margin-bottom: 20px;
}

.color{
    width: 60px;
    height: 60px;
    border: 1px solid black;
}
#pixel-board{
    margin: 0;
    padding: 0;
    width: 210px;
    height: 210px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}
.pixel{
    margin: 0;
    width: 40px;
    height: 40px;
    border: 1px solid black;

}